<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stonks Win!</title>
    <meta charset="utf-8">
    <meta name="description" content="Stonks go up!">
    <meta name="viewport" content="width=device-width, initial-scale=0.4">
    <meta property="og:image" content="https://stonks.win/images/stonks.gif">
    <meta property="og:title" content="Hold on to your stonks!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://stonks.win">
    <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48dGV4dCB5PSIuOWVtIiBmb250LXNpemU9IjkwIj7wn5OIPC90ZXh0Pjwvc3ZnPg==">
    <style>
      body{color:#eaeaea; background-color:#212121}
      img{display:block; margin:100px auto; border-radius:5px}
    </style>

  </head>
  <body>
    <div style="text-align: center;">
      <img src="stonks.gif" alt="Stonks go up!" width="360" height="270">
    </div>
</body>
</html>
